a:link, a:visited {
    color: black;
}

.highscoreslink {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.Welcome h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 25px;
    font-size: 60px;
}

body {
    background-color: rgb(50, 50, 211);
}

.startQuizBtn,
.rulesBox,
.quizBox,
.resultBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
}

.rulesBox.activeInfo,
.quizBox.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.startQuizBtn button {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.rulesBox {
    width: 540px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.rulesBox .rulesBoxTitle {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: bold;
}

.rulesBox .rulesBoxText {
    padding: 15px 35px;
}

.rulesBox .rulesBoxText .rulesText {
    margin: 5px 0;
    font-size: 17px;
}

.rulesBox .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid black;
}

.rulesBox .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttons button.continue {
    color: black;
    border-color: rgb(50, 50, 211);
    background-color: rgb(50, 50, 211);
}

.buttons button.quitQuiz {
    color: black;
    border-color: rgb(50, 50, 211);
    background-color: rgb(50, 50, 211);
}

.quizBox {
    width: 550px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quizBox header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quizBox header .title {
    font-size: 20px;
    font-weight: bold;
}

.quizBox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 10px;
    padding: 0 8px;
}

.quizBox header .timer .timeText {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quizBox header .timer .timerSec {
    font-size: 18px;
    font-weight: 500;
    background-color: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid #343a40;
    user-select: none;
}

.quizBox section {
    padding: 25px 30px 20px 30px;
    background-color: #fff;
}

.quizBox section .questionText {
    font-size: 25px;
    font-weight: bold;
}

.quizBox section .optionList {
    padding: 20px 0;
    display: block;
}

section .optionList .option {
    background-color: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 10px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.optionList .option:last-child {
    margin-bottom: 0px;
}

.optionList .option.correct {
    color: white;
    background-color: green;
    border-color: white;
    font-weight: bold;
}

.optionList .option.incorrect {
    color: white;
    background-color: red;
    border-color: white;
    font-weight: bold;
}

.optionList .option.disabled {
    pointer-events: none;
}

.quizBox footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quizBox footer .totalQuestions span {
    display: flex;
    user-select: none;
}

footer .totalQuestions span p {
    font-weight: bold;
    padding: 0 5px;
}

footer .totalQuestions span p:first-child {
    padding-left: 0px;
}

footer .nextQuestionBtn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    color: black;
    background-color: rgb(50, 50, 211);
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 211);
    cursor: pointer;
}

footer .nextQuestionBtn:hover {
    background-color: #343a40;
}

.resultBox {
    background-color: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.resultBox .icon {
    font-size: 100px;
    margin-bottom: 10px;
}

.resultBox .completeText {
    font-size: 20px;
    font-weight: 500;
}

.resultBox .scoreText span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.scoreText span p {
    font-weight: 500;
    padding: 0 4px;
}

.resultBox .buttons {
    display: flex;
    margin: 20px 0;
}

.resultBox .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 211);
    cursor: pointer;
}